<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <nav class="navbar navbar-expand-lg custom-navbar shadow-sm">
      <div class="container-fluid">
        <!-- Logo (optional) -->
        <a class="navbar-brand text-white fw-bold" href="index.html" id="logo"></a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav ms-auto me-4 my-lg-0 navbar-nav-scroll">
            <li class="nav-item"><a class="nav-link custom-link" href="index.html">My Story</a></li>
            <li class="nav-item"><a class="nav-link custom-link" href="skills.html">Skills</a></li>
            <li class="nav-item"><a class="nav-link custom-link" href="contact.html">Contact Me</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="gradient">
      <div class="container py-5">
        <div class="row align-items-center gx-5">

          <!-- Left Column -->
          <div class="col-12 col-lg-6 text-white text-lg-start text-center mb-4 mb-lg-0">
            <h1 class="display-1 fw-bold mb-3">Hi! I'm Daniela,</h1>
            <h1 class="display-1 fw-bold mb-4">A Videographer</h1>
            <div class="click justify-content-center justify-content-lg-start">
              <a href="#past" class="me-2">
                <button class="btn about shadow">About Me</button>
              </a>
              <a href="contact.html">
                <button class="btn contact shadow">Contact Me</button>
              </a>
            </div>
          </div>

          <!-- Right Column -->
          <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
            <div class="headshot-wrapper">
              <img src="img/headshot2.png" alt="Daniela headshot" class="img-fluid headshot-img shadow">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="wrapper">
      <h1 class="banner" id="past">My Story</h1>
      <div class="item">
        <div class="polaroid">
          <div class="overlay-container">
            <img src="img/classroom.jpg" alt="How I Got Started">
            <div class="overlay-text">

              <p>I became interested in videography when I started taking video editing in high school with Mr. Werntz,
                which led to other opportunities</p>
            </div>
          </div>
          <div class="caption">How I Got Started</div>
        </div>
      </div>

      <div class="item">
        <div class="polaroid">
          <div class="overlay-container">
            <img src="img/newjerseygas.jpg" alt="How I Got Started">
            <div class="overlay-text">

              <p>I am the main editor for my school's morning show and I have also won the 2024 New Jersey Natural Gas
                Video Competition</p>
            </div>
          </div>
          <div class="caption">What I've Done</div>
        </div>
      </div>

      <div class="item">
        <div class="polaroid">
          <div class="overlay-container">
            <img src="img/grad.jpg" alt="How I Got Started">
            <div class="overlay-text">

              <p>After high school, I plan to continue video editing and build a name for myself. I am also interested
                in editing blogs and montages to expand my work</p>
            </div>
          </div>
          <div class="caption">Future Plans</div>
        </div>
      </div>


    </div>

    <div class="mb-5" id="vue_app">
      <h1 class="banner" id="examples">Past Websites</h1>
      <div class="pages">
        <!-- Render each category button -->
        <button v-for="category in categories" :key="category" class="badge rounded-pill tabs"
          :class="{ active: category === selectedCategory }" @click="selectCategory(category)">
          {{ category }}
        </button>
      </div>
      <div class="row g-4" id="websites-container">
        <!-- Render websites for the currently selected category -->
        <div v-for="(site, index) in websitesData[selectedCategory]" :key="index" class="col-lg-6 col-sm-12 col-12">
          <div class="image boxes">
            <img class="image__img" :src="site.img" :alt="site.title">
            <div class="image__overlay image__overlay--blur">
              <div class="image__title">{{ site.title }}</div>
              <p class="image__description">{{ site.description }}</p>
              <a v-if="!site.description" :href="site.link" target="_blank" rel="noopener noreferrer">
                <button class="button-23" role="button">View Video</button>
              </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--Back to top button https://www.w3schools.com/howto/howto_js_scroll_to_top.asp-->
<button onclick="topFunction()" id="myBtn" title="Go to top">
  <i class="fas fa-chevron-up"></i>
</button>  <!-- Footer -->
  <footer class="text-center" style="background-color: #9EB69E;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">



      <!-- Google -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
     
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 text-light" style="background-color: #9EB69E;">
    © 2025 Copyright:
    <a class="text-light" href="https://mdbootstrap.com/">Daniela DiMartino</a>
  </div>
  <!-- Copyright -->
</footer>
  <!-- Footer -->
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://unpkg.com/vue@3"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis@1.0.27/dist/lenis.min.js"></script>
  <!--Img scroll pre-code-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
  <script src="https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js"></script>
  <script src="script.js"></script>
</body>

</html>