@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
body{
    background-image: linear-gradient(#A8BEAB, #DDE2DD);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1.display-1 {
    font-weight: 600;
    color: white;
    font-family: "Instrument Sans", sans-serif;
}
.intro{
    margin-top: 3em;
}
.btn.about{
    color: #A8BEAB;
    font-family: "Instrument Sans", sans-serif;
    font-size: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: .5em;
    border-radius: 10px;
    background-color: white;
    border: 4px solid white;
}
.btn.contact{
    font-family: "Instrument Sans", sans-serif;
    font-size: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    border: 4px solid white;

}
.click{
    margin-top: 2em;
}