@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px; /* Adjust this value to center better */

  }
body{
    background-color: #F4F3F1;
}
.gradient{
    background-image: linear-gradient(#A8BEAB, #DDE2DD);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* This centers vertically */

}
h1.editing{
  text-align: center;
}
h1.display-1 {
    font-weight: 600;
    color: white;
    font-family: "Instrument Sans", sans-serif;
}
.skills{
    text-align: center;
    margin: 2em;
}
h1.banner{
    color: #8fa78f;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    justify-content: center;
    margin-bottom: 0em;
}
h3.instruction{
    color: #E0C48A;
    font-weight: 300;
}
.intro {
    margin-top: 0;
}
.btn.about{
    color: #A8BEAB;
    font-family: "Instrument Sans", sans-serif;
    font-size: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: .5em;
    border-radius: 10px;
    background-color: white;
    border: 4px solid white;
}
.btn.contact{
    font-family: "Instrument Sans", sans-serif;
    font-size: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    border: 4px solid white;

}
.click{
    margin-top: 2em;
}
#logo {
    display: block; /* ensures the link takes up space */
    background-color: transparent;
    border: none;
    background-image: url("img/Asset 1 (1).svg");
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: .75em;
  }
nav{
    background-color: #9EB69E;
}
li.nav-item{
    color: white;
}
#contact{
    background-color: #9EB69E;
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
}
.message{
    background-color: #E0C48A;
}
#input{
    background-color:  #E0C48A;
}
:root {
    --primary-color: #4000ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.timeline-wrapper.dragging {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
.timeline-wrapper {
    position: relative;
    max-width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    cursor: grab;
}
.timeline {
    position: absolute;
    height: .22rem;
    padding: 0 4rem;
    background-color: #888;
    list-style-type: none;
    min-width: max-content;
    padding-left: 2rem;
    --scale: 1;
    display: flex;
}

.timeline li{
    position: relative;
    width: 20rem;
}
.timeline li::before,
.timeline li::after,
.timeline li .title,
.data {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    transition: .5s ease;
}
.timeline li::before {    
    content: "";
    top: 1rem;
    display: inline-block;
    width: 0.22rem;
    height: 1rem;
    background-color: #888;
}
.timeline li:nth-child(even)::before {
    top: -1rem;
}

.timeline li:hover::before {
    background-color: var(--primary-color);
}
.timeline li::after {
    content: attr(data-date);
    top: -3.4rem;
}

.timeline li:nth-child(odd)::after {
    top: 3.4rem;
}

.timeline li:hover:after,
.timeline li .title
    {
        color: var(--primary-color);
    }
.timeline li .title{
    top: 2.4rem;
    font: 600 1.1rem 'poppins', sans-serif;
    white-space: pre;
    opacity: 0;
}

.timeline li:nth-child(odd) >.title{
    top: -2.4rem;
}
.timeline li:hover .title{
    opacity: 1;
}
.data {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #888;
    color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    transition: .3s ease;
}
.timeline li:hover .data{
    background-color: var(--primary-color);
    --scale: 1.2;
    cursor: pointer;
    z-index: 200;
}
.data.show {
    width: 22rem;
    height: 22rem;
    border-radius: 1rem;
    padding: 1rem;
    background-image: linear-gradient(45deg, var(--primary-color), magenta);
    box-shadow: 0 .1rem .4rem #0004;
    z-index: 100;
    gap: 1rem;
}

.data h3{
    text-transform: capitalize;
}
.data p{
    background-color: #fff3;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 0.7rem;
}
.data.show p{
    margin-left: 0;
}
.data .close {
    align-self: flex-start;
    background-color: #00a1ff;
    padding: .5rem .8rem;
    border-radius: 2rem;
    font-size: 1rem;
}
.container1{
    margin-top: 10em;
}
.info-row {
    margin: 300px 0;
}

.skills-image {
    height: 600px;
    width: clamp(600px, 70vw, 900px);
    background-image: url('img/image 2.png'); /* <-- add this line */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: background-image 0.5s ease-in-out;
    z-index: 1;
}
.skill-image img {
    max-width: 100%;
}

/* (optional) if you want the clicked skill button to highlight */
.skill-button.active {
    border: 2px solid #3498db;
    border-radius: 8px;
}
.skills-text {
    font-family: 'Poppins', sans-serif;
    height: clamp(400px, 30vw, 500px);
    width: clamp(350px, 45vw, 500px);
    background: #A8BEAB;
    border-radius: 6px;
    color: black;
    z-index: 2;
    margin: -100px;

}


.info-title {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(30px, 3vw, 75px);
    margin-bottom: 20px;
}

.info-section {
    background: #dde2dc79;
    margin: 15px;
    padding: 10px;
    font-size: clamp(15px, 1.3vw, 50px);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.clipart {
    text-decoration: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.clipart:focus {
    outline: none;
}
footer{
    background-color: #9EB69E;
}
section.contact{
    margin-bottom: 10em;
}
/* Beginning of the website examples */
h2.examples{
    margin-top: 3em;
  }
  /* Start of the overlays for each website image */
  .examples {
    text-align: center;
    margin-top: 1em;
  }
  .pages button {
    /* Override Bootstrap defaults */
    background-color: #f8f9fa;
    border: 2px solid #A8BEAB;
    color: #A8BEAB;
    font-size: 1.1rem;
    padding: 0.5em 1em;
    margin: 0.5em;
    transition: all 0.3s ease;
    font-family: "Kanit";
    font-weight: 300;
    margin: 1em;
  }
  
  .pages button:hover {
    background-color: #A8BEAB;
    color: #fff;
  }
  
  .pages button.active {
    background-color: #A8BEAB;
    color: #fff;
  }
  .pages {
    text-align: center;
    margin-bottom: 3em;
  }
  .badge {
    margin: 0 0.5em;
    cursor: pointer;
  }
  .active {
    background-color: #A8BEAB !important;
    color: #fff;
  }
  .image {
    position: relative;
    margin: 2em;
  }
  .boxes {
    box-shadow: 7px 7px 2px rgb(187, 187, 187);
  }
  .image__img {
    display: block;
    width: 100%;
  }
  .image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #A8BEAB;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    font-family: "Poppins", sans-serif;
  }
  .image__overlay > * {
    transform: translateY(50px);
    transition: transform 0.5s;
  }
  .image__overlay:hover {
    opacity: 1;
  }
  .image__overlay:hover > * {
    transform: translateY(0);
  }
  .image__title {
    font-size: 2em;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }
  .image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: left;
  }
  .button-23 {
    background-color: #ffffff73;
    border: 1px solid #ffffff;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 23px;
    text-align: center;
    text-decoration: none;
  }
  .dimension {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background-image:url("https://picsum.photos/200");
    background-size: contain;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    border: white 2px solid;
  }
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }